div{
  margin: 10px 0px;
  padding: 10px 20px;
  background-color: antiquewhite;
  text-align: center;
}
p{
  font-size: 20px;
}
.close{
  float: right;
  margin-top: -15px;
}
.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;

}
